.context-menu-item.osrsubmenu > span:after {
  content: "▶"; /* Unicode for right arrow */
  float: right;
  margin-left: 10px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.context-menu-item.osrsubmenu.context-menu-disabled > span:after {
  color: #cccccc; /* Change the color for disabled items */
  content: "";
}
